<h1>Home#index</h1>
<ul>
  <% for user in @users %>
    <li>
        Name: <%= user.name %> <br>
        Last Name: <%= user.lastname%><br>
        File: <%= user.photo.try(:filename) %> <br>
        Story: <%=user.story.try(:pet_story)%> <br>
         Comment: <%=user.comment.try(:comment_text) %>
      </li>
 <% end %>
</ul>                             