<h1>Home#index</h1>
<ul>
   <% for worker in @homeview  %>
    <li>
        Name:  <%= worker.name %> <br> Last Name: <%=worker.firstname%>
         Photo file name:  <%= worker.filename %> <br> Photo Size: <%=worker.size%>
         Pet Story:  <%= worker.pet_story %> <br> Comment Text: <%=worker.comment_text%> <b>
         Number of Years:  <%= worker.howmany_years %> <br> Commenter Name: <%=worker.commenter_name%>
  
    </li>
 <%  end %>
</ul>                             